body {
  font-family: 'Sarabun', sans-serif;
  background: #f4f6fb;
  text-align: center;
  padding: 30px;
}

h1 {
  color: #333;
}

/* ช่องกรอกข้อมูล */
input {
  width: 260px;
  height: 45px;
  font-size: 16px;
  padding: 10px;
  margin: 5px;
  border-radius: 12px;
  border: 1px solid #aaa;
}

button {
  padding: 10px 18px;
  margin: 8px;
  background: #4CAF50;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
}

button:hover {
  background: #4CAF50;
}

.edit-btn {
  background: #ff9800;
}

.edit-btn:hover {
  background: #e68900;
}

.delete-btn {
  background: #f44336;
}

.delete-btn:hover {
  background: #d32f2f;
}

.task {
  background: #ffffff;
  padding: 14px;
  margin: 12px auto;
  width: 320px;
  border-radius: 14px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}

.container {
  width: 90%;
  max-width: 900px;
  margin: auto;
}

@media (max-width: 600px) {
  body {
    font-size: 14px;
  }

  .task {
    width: 95%;
  }

  input {
    width: 90%;
  }
}

@media (max-width: 900px) {
  body {
    font-size: 16px;
  }
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0,0.4);
  overflow-y: auto;

  justify-content: center;
  align-items: center;
}

.popup-box {
  background: white;
  width: 90%;
  max-width: 500px;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
}

.popup-box textarea {
  width: 100%;
  height: 40vh;
  min-height: 200px;
  max-height: 60vh;
  overflow-y: auto;
  resize: vertical;
}
